<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
                '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.css'
                '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap-theme.css'
                'bundles/app/css/custom.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        
        
    </body>
</html>
